<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hod page</title>
</head>

<body>
    <h3>Welcome to HOD page</h3>
    <form action="/savehodtodb" method="post">
        <table>
            <tr>
                <td>Enter the HOD name:</td>
                <td><input type="text" name="hname"></td>
            </tr>
            <tr>
                <td>Enter the HOD phone number:</td>
                <td><input type="text" name="hphone"></td>
            </tr>
            <tr>
                <td><input type="submit" value="save"></td>
            </tr>
        </table>
    </form>
    <a href="/">homepage</a>
</body>

</html>