<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update student</title>
    <link rel="stylesheet" href="update.css">
</head>

<body>
    <form action="/updatedepartmenttodb" method="POST">
        <table>
            <tr>
                <td>Enter department id</td>
                <td><input type="text" name="did" value={{rows[0][0]}} readonly></td>
            </tr>
            <tr>
                <td><label for="Department">Choose a department:</label></td>
                <td>
                    <select name="departments" id="departments">
                        <option value="Civil">Civil</option>
                        <option value="Mech">Mech</option>
                        <option value="CSE">CSE</option>
                        <option value="IT">IT</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enter the HOD id:</td>
                <td><input type="text" name="hiname" value={{rows[0][2]}}></td>
            </tr>
            <tr>
                <td><input type="submit" value="save"></td>
            </tr>
        </table>
    </form>
</body>

</html>